

.card {
    width: 13rem;
    height: 18rem;
    
    box-shadow: #00000073 0rem 0rem 1.5rem;
    border-radius: 8px;
    text-align: center;
}

.card img {
    width: 85%;
    margin: 0.5rem auto;
    object-fit: cover;
    aspect-ratio: 1;
}
